<component name="firstpage">
    <h1>First Page</h1>
</component>



<component name="secondpage">
    <h1>Second Page</h1>
</component>


<!--TEST COMMENTS-->

<component name="demo">
    <h1>WebPage</h1>
    <p>This is my Table</p>
    <table border="3">
        <tr>
            <td rowspan="2">A</td>
            <td>B</td>
            <td rowspan="2">C</td>
        </tr>
        <tr>
            <td>C</td>
        </tr>
    </table>
</component>

<component name="fruitsList">
    <!--Fruits component-->
    <p>This is my List of Fruits</p>
    <ol>
        <li>Apple</li>
        <li>Banana</li>
        <li>Grapes</li>
        <li>Water Melon</li>
    </ol>
</component>